* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f7e5d9;
  display: flex;
  justify-content: center;
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 750px;
  background: #fff;
  height: 100%;
}
